# Environment file for OD-Management Flutter project
# Share this file with your friend and update values as needed

# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# Other environment variables can be added below
# Example:
# API_BASE_URL=
